<div id="message"></div>
<h1>Todos</h1>
{{#if todos.length}}
<ul class="collection">
  {{#each todos}}
    <li>
        <form action="/update" method="POST" class="todo">
            {{#if completed}}
            <label class="completed" class="{{_id}}">
            <input type="checkbox" checked name="completed" value="false" id="{{_id}}" />
            <span>{{ title }}</span>
            </label>

            {{else}}
            <label class="{{_id}}">
            <input type="checkbox" name="completed" value="true" id="{{_id}}"/>
            <span>{{ title }}</span>
            </label>
            {{/if}}

            <input type="hidden" value="{{_id}}" name="id" />
            <span>
              <button type="button" class="update" data-id="{{_id}}">
                <i class="small material-icons">create</i>
              </button>
              <button type="button" class="delete" data-id="{{_id}}">
                <i class="small material-icons">delete</i>
              </button>
              <button type="submit">
                  <i class="small material-icons turquoise">save</i>
              </button>
            </span>
        </form>
    </li>
  {{/each}}
</ul>
{{else}}
<p>No todos in the list!</p>
{{/if}}
